:root {
    --magenta-oscuro: #502050;
    --rosa-suave: #ee68a4;
    --gris-oscuro: #937b92;
    --blanco: #ffffff;
    --fondo-tarjeta: #512051;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 1100px;
    width: 100%;
}


.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.content-text {
    flex: 1;
    min-width: 300px;
}

.content-text h1 {
    color: var(--magenta-oscuro);
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 20px;
    max-width: 400px;
}

.content-text p {
    color: var(--gris-oscuro);
    line-height: 1.5;
    max-width: 440px;
}


.ratings-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rating-card {
    background-color: #f7f2f7;
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 450px;
}

.rating-card span {
    color: var(--magenta-oscuro);
    font-weight: 700;
}

@media (min-width: 1024px) {
    .card-1 { align-self: flex-start; }
    .card-2 { align-self: center; }
    .card-3 { align-self: flex-end; }
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.testimonial-card {
    background-color: var(--fondo-tarjeta);
    color: var(--blanco);
    padding: 40px;
    border-radius: 10px;
    height: fit-content;
}

@media (min-width: 1024px) {
    .testimonial-2 { margin-top: 20px; }
    .testimonial-3 { margin-top: 40px; }
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info .name {
    display: block;
    font-weight: 700;
}

.user-info .status {
    color: var(--rosa-suave);
    display: block;
}

.testimonial-card p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    .top-section {
        text-align: center;
        flex-direction: column;
    }

    .content-text h1 {
        font-size: 2.2rem;
        margin: 0 auto 20px;
    }

    .rating-card {
        flex-direction: column;
        gap: 10px;
    }

    .testimonials-grid {
        grid-template-columns: 1fr;
    }
}